@import url('https://fonts.googleapis.com/css2?family=Popopins:wght@500&display=swap');

@keyframes shake {
    0%{
        transform: translate(0px,0px) rotate(0deg);
    }
    25%{
        transform: translate(1px,1px) rotate(1deg);
    }
    50%{
        transform: translate(-1px,-1px) rotate(-1deg);
    }
    75%{
        transform: translate(2px,-1px) rotate(2deg);
    }
    100%{
        transform: translate(-1px,1px) rotate(1deg);
    }
}

.card{
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.212);
    background: white;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}

.card.rock{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.212);
    cursor: help;
    z-index: 10;
    transition: all .4s;
}

.card:hover rock{
    margin-top: -30px;
}
.card:hover{
    width: 160px;
}

.card::before{
    content: '\Taş';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51,51,51);
    font-size: 0.6em;
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 700;
}